.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

/* .btn {
    background-color: green;
} */

footer {
  padding: 10px 10px 0px 10px;  
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
    flex: 1 250px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.tab-pane{
    margin-top: 20px;
}

.multi-collapse {
    margin-top: 20px;
}