.jumbotron {
  background-color: #fbff00;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

/* .btn {
    background-color: green;
} */
footer {
  padding: 10px 10px 0px 10px;
  background-color: #fbff00;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 20px;
  margin-bottom: 25px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-pane {
  margin-top: 20px;
  margin-bottom: 0px; }

.multi-collapse {
  margin-top: 20px;
  margin-bottom: 0px; }
