$yellow: #fbff00;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

/* .btn {
    background-color: green;
} */

footer {
  padding: 10px 10px 0px 10px;  
  background-color: $yellow;
  @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 250px;
    @include margenes(20px, 25px);

}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.tab-pane{
    @include margenes(20px, 0px);
}

.multi-collapse {
    @include margenes(20px, 0px);
}