@yellow: #fbff00;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 10px);
}
  
  /* .btn {
      background-color: green;
  } */
footer {
    padding: 10px 10px 0px 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
}
  
.card-hotel {
    flex: 1 250px;
    .margenes(20px, 250px);
}
  
.btn-reserva {
    width: 100%;
    border-radius: 0px; }

.tab-pane {
    .margenes(20px, 0px);
}

.multi-collapse {
    .margenes(20px);
}
